#welcomeDelani {
  background-image: url("../images/assets/backgrounds/bckgrnd1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  text-align: center;
  padding: 100px;
  color: white;
}
#logo-img {
  padding: 100px;
}
#mouse-icon {
  padding: 170px;
}
#delaniServices {
  background-image: url(../images/assets/backgrounds/bckgrnd2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  text-align: center;
  padding: 100px;
  color: white;
}
#aboutDelani {
  text-align: center;
}
#whatWeDo {
  text-align: center;
  padding-left: 10px;
}
h2 {
  text-align: center;
}
#image-icons {
  text-align: center;
}
#delani-footer {
  text-align: center;
}
