.container {
  background-image: url("../images/assets/backgrounds/h_img.jpg");
  background-size: 100% 100%
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.column {
  float: left;
  width: 24%;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
