#welcomeDelani {
  background-image: url("../images/assets/backgrounds/bckgrnd1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  text-align: center;
  padding: 100px;
  color: white;
}
#logo-img {
  padding: 100px;
}
#mouse-icon {
  padding: 170px;
}
#delaniServices {
  background-image: url(../images/assets/backgrounds/bckgrnd2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  text-align: center;
  padding: 100px;
  color: white;
}
#aboutDelani {
  text-align: center;
}
#whatWeDo {
  text-align: center;
  padding-left: 10px;
}
h3,
h2 {
  font-weight: bold;
}
h2,
h4 {
  text-align: center;
}
#image-icons {
  text-align: center;
}
#delani-footer {
  text-align: center;
}
#design-paragraph,
#development-paragraph,
#product-paragraph {
  display: none;
  text-align: center;
}
#design-icon,
#development-icon,
#product-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#Portfolio-img1,
#Portfolio-img2,
#Portfolio-img3,
#Portfolio-img4,
#Portfolio-img5,
#Portfolio-img6,
#Portfolio-img7,
#Portfolio-img8 {
  display: none;
  background-color: white;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0em;
  color: black;
  font-size: 20px;
}
/* user's contact form */
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Style the container/contact section */
.container {
  background-color: #f2f2f2;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
#form_container {
  background-image: url(../images/assets/backgrounds/bckgrnd3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin-left: 25%;
  color: transparent;
}
